<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body class="home-body">

    <div class="container-home">
        <div class="main-home">
            <div class="landing-info">
                <div class="title logo">
                    <h1>HomeCooked</h1>
                </div>
                <div class="explainer">
                    <p>An online recipe rolodex</p>
                </div>
                <div class="login-buttons">
                    <% if(user){ %>
                        <a class="home-button" href="/dashboard">Dashboard</a>
                        <a class="home-button" href="/logout">Logout</a>
                    <%} else {%>
                        <a class="home-button" href="/login">Login</a>
                        <a class="home-button" href="/signup">Signup</a>
                        <a class="home-button" href="/dashboard">Dashboard</a>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</body>
</html>