<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="container-home">
        <div class="main-home">
            <div class="landing-info">
                <div class="login-title">
                    <h1 style="color: white;" id="login-title">Login</h1>
                </div>
                    <%if(error) {%>
                    <p style="color: white;"><%=error%></p>
                    <%}%>
                    
                <form action="/login" method="POST" class="login-form">
                        <label style="color: gray;" class="username">Username <br>
                            <input type="text" name="username" placeholder="Type your username" class="text-line">
                        </label><br>
                        <label style="color: gray;" class="pw">Password <br>
                            <input type="password" name="password" placeholder="Type your password" class="text-line">
                        </label><br>
                        <input type="submit" value="Login" class="login-btn">
                </form>
                <a href="/signup" style="color: cornflowerblue;">Signup</a>
            </div>
        </div>
    </div>
</body>
</html>