<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
</head>
<body>
        <header>
            <h1>New Recipe</h1>
            <nav>
                <a href="/logout">Logout</a>
                <a href="/dashboard">Dashboard</a>
            </nav>
        </header>

        <form action="/new" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="user" value="<%=user%>">
            <label>Recipe Name:
                <input type="text" name="title">
            </label><br>
            <img src="/Users/tylerrice/Code/Recipe-App/public/images/Sage-Butter-Pumpkin-Cheese-Ravioli-6.jpeg" alt="">
            <label>Description:
                <textarea name="description" id="" cols="30" rows="5"></textarea>
            </label><br>
            <label>Ingredients:
                <textarea name="ingredients" id="" cols="30" rows="10"></textarea>
            </label><br>
            <label>Steps:
                <textarea name="steps" id="" cols="30" rows="10"></textarea>
            </label><br>
            <label>Prep Time
                <input type="text" name="prepTime">
            </label>
            <label>Cook Time
                <input type="text" name="cookTime">
            </label>
            <input type="submit" value="Add Recipe">
        </form>
</body>
</html>