<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>New Recipe</title>
</head>

<body>
    <header>
        <h1>Edit Recipe</h1>
        <nav>
            <a href="/new">add recipe</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <div class="container">
        <form action="/recipe/<%=r._id%>/image?_method=PUT" method="POST" enctype="multipart/form-data">
                <h1>Update Image</h1>
                <img src="<%= r.imageURL %>" style="width: 350px;"><br>
                <input type="file" name="imageURL">
            <input type="submit" value="Save Changes">
        </form>
    </div>
</body>

</html>