header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    /* background-color: burlywood; */
    background: linear-gradient(90deg, rgba(241,183,118,1) 0%, rgba(226,191,152,0.8752886836027713) 35%);
    
    margin-left: 0;
    box-shadow: 2px 2px 3px rgb(179, 179, 179);
}

header h1 {
    font-family: 'Birthstone', cursive;
    font-size: 60px;
    line-height: 10px;
}

.filter{
    color: gray;
}

.hat-div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 155px;

}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-left: 50px;

}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

}
.popular{
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 40px;
}

nav {
    margin-top: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.topLine {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: flex-end;
 
}

.filters {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
    min-width: fit-content;
    text-decoration: none;
}

a{
    text-decoration: none;
}
.recipes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;

}
.recipe-block{
    display: flex;
    width: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.view-recipe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 30px;
    margin-top: 25px;
    background-color: white;
    border-color: tomato;
    color: gray;
    border-style: none;
    border: 2px solid #DEB886;
    text-align: center;
    font-size: small;
}

.imgDiv {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textDiv {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-around;
    margin-bottom: 175px;
    margin-top: 75px;
    align-items: flex-start;
}

.dashImg {
    width: 350px;
    box-shadow: 2px 2px 3px rgb(179, 179, 179);
}

@media only screen and (max-width: 1200px) {
    nav {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        text-decoration: none;
    }
    header h1 {
        font-family: 'Birthstone', cursive;
        font-size: 60px;
        line-height: 10px;
        margin-bottom: 10px;
    }

    .hat-div{
        display: none;
        width: 0;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0px;
        margin-left: 0;
    }
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 0;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 0;
        background-color: burlywood;
        margin-left: 0;
    }
    .filters {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100vw;
        text-decoration: none;
        font-size: small;
    }
    .chef-hat {
        display: none;
        padding-left: 75px;
    }

    .recipes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .recipe-block{
        display: flex;
        justify-content: center;
        width: 300px;
        flex-wrap: wrap;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;

    }
    .imgDiv {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .textDiv {
        display: flex;
        width: 300px;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: space-around;
        margin-bottom: 10px;
        margin-top: 10px;
        align-items: flex-start;
    }

    .dashImg {
        width: 300px;
    }
    

  }

html {
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    width: 100%;
 
}

body {
   width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
};
