header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    background-color: burlywood;
    margin-left: 0;
}

header h1 {
    font-family: 'Birthstone', cursive;
    font-size: 60px;
    line-height: 10px;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

}
.popular{
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 40px;
}

nav {
    margin-top: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.topLine {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    align-items: flex-end;
    justify-content:space-between;
 
}

.filters {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    min-width: fit-content;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.recipe-block{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* border: 2px solid black; */
}
.imgDiv {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textDiv {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-around;
    margin-bottom: 175px;
    margin-top: 75px;
    align-items: flex-start;
}

.dashImg {
    width: 350px;
}

#id4 {
    width: 100%;
}


@media only screen and (max-width: 600px) {
    nav {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        text-decoration: none;
    }
    header h1 {
        font-family: 'Birthstone', cursive;
        font-size: 60px;
        line-height: 10px;
        margin-bottom: 10px;
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 0;
        background-color: burlywood;
        margin-left: 0;
    }
    .filters {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100vw;
        text-decoration: none;
    }

    .recipes {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    .recipe-block{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        /* border: 2px solid black; */
    }
    .imgDiv {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .textDiv {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
        justify-content: space-around;
        margin-bottom: 10px;
        margin-top: 10px;
        align-items: flex-start;
    }

    .dashImg {
        width: 300px;
    }
    
    #id4 {
        width: 100%;
    }

  }

html {
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    width: 100%;
 
}

body {
   width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
};
